# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'éditeur
.idea/
.vscode/
*.swp
*.swo

# Dépendances et builds
node_modules/
dist/
build/

# Fichiers de configuration locaux
.env
.env.local
*.log

# Fichiers de sauvegarde automatique
compteur_temps_autosave.json 